body {
    background-color: lightpink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12px;
}



h1 {
    text-align-last: center;
}


img {
    border: px solid black;
    align-content: center;
}
a{
    color:aliceblue
}
